$bp-small : 400px;
$bp-med : 46.8em;
$bp-large : 70em;
$bp-xl : 93em;

#main {
  height: 100%;
    h1 {
      color: #16a085;
      font-size: 55px;
      position: absolute;
      top: -2%;
      left: 5%;
      font-family: 'NeutraText-BoldAlt';
      font-weight: bolder;
    }
    #about-view {
      position: relative;
      height: 100%;
        .content {
        }
    .full-height {
      height: 100%;
    }
      .vCenter {
        display: inline-table;
        height: 100%;
        width: 100%;
        .vCenterKid {
          display: table-cell;
          vertical-align: middle;
            p {
              font-weight: 700;
              font-size: 13px;
            }
          .container-about {
            height: 75%;
            overflow: hidden;
              .fullHeight {
                height: 100%;
              }
              .w50 {
                float: left;
                width: 50%;
              }
              #portrait {
                background-size: cover;
                background: url(/assets/images/IMG_22101.jpg) no-repeat center;
                background-size: 100% 150%;
                height: 40%;
                width: 100%;
                -webkit-filter: grayscale(100%);
              }
              #info {
                background-color: #3b3b3b;
                height: 40%;
                overflow: hidden;
                padding: 0 5%;
                box-sizing: border-box;
                text-align: left;
                color: white;
                  a {
                    border-bottom: 2px solid white;
                    cursor: pointer;
                    padding: .2em;
                  }
                  a:hover {
                    border-bottom: 2px solid rgb(22, 160, 133);
                    background-color: rgb(22, 160, 133);
                    transition: all .25s;
                  }

              }
              #links {
                height: 20%;
                overflow: hidden;
                  a {
                    // background-color: #16a085;
                    color: white;
                    display: block;
                    position: relative;
                    font-family: 'lato';
                    font-size: 20px;
                    font-weight: 900;
                    float: left;
                    height: 100%;
                    width: 50%;
                    // transition: all .25s;
                    transition: content 0.4s;
                    margin: 0;
                  }
                  #resume:hover {
                    .overlay1{
                      width: 100%;
                      // transition: all 0.15s ease-in;
                    }
                  }
                  #contact:hover {
                    .vCenter {
                      span:before {
                        text-transform: lowercase;
                        content: 'dpip.nc@gmail';
                      }
                    }
                    .overlay2 {
                      width: 100%;
                      transition: all 0.45s ease-in;
                      opacity: 0.2;
                    }
                  }

                  span {
                    position: relative;
                    z-index: 1;
                      span {
                        text-transform: uppercase;
                        transition: all 0.25s ease-in;
                      }

                  }
                    #resume {
                      background-color: rgb(22, 160, 133);
                      .vCenter {
                        span {

                      }
                    }
                  }
                    #contact {
                      background-color: rgb(16, 134, 111);
                      .vCenter {
                        span:before {
                          content: 'contact me';
                      }
                    }
                  }
              }
          }
        }
        .social {
          background-color: #d8d8d8;
            .links-social {
              height: 20%;
              overflow: hidden;
                a {
                  background-size: contain;
                  background-position: center center;
                  background-repeat: no-repeat;
                  height: 100%;
                  display: block;
                  float: left;
                  width: 25%;
                  font-size: 3.5em;
                    i {
                      vertical-align: middle;
                      margin-top: .6em;
                    }
                }
                  #m1 {
                    background-color: rgba(185, 185, 185, 1);
                    -webkit-filter: grayscale(20%);

                  }
                  #m1:hover {
                    background-color: rgba(255, 255, 0, 0.6);
                    transition: all 0.25s ease-in;
                    -webkit-filter: grayscale(20%);

                  }
                  #m2 {
                    background-color: rgba(136, 136, 136, 1);
                    transition: all 0.25s ease-in;
                    -webkit-filter: grayscale(20%);

                  }
                  #m2:hover {
                    background-color: rgba(0, 132, 191, 0.6);
                    transition: all 0.25s ease-in;
                    -webkit-filter: grayscale(20%);

                  }
                  #m3 {
                    background-color: rgba(115, 115, 115, 1);
                    -webkit-filter: grayscale(20%);

                  }
                  #m3:hover {
                    background-color: rgba(249, 105, 14, 0.6);
                    transition: all 0.25s ease-in;
                    -webkit-filter: grayscale(20%);

                  }
                  #m4 {
                    background-color: rgba(61, 61, 61, 1);
                    -webkit-filter: grayscale(20%);

                  }
                  #m4:hover {
                    background-color: rgba(29, 185, 84, 0.6);
                    transition: all 0.25s ease-in;
                    -webkit-filter: grayscale(20%);

                  }
            }
            .artists {
              height: 80%;
              position: relative;
                .title-music-container {
                  color: #111;
                  display: block;
                  font-family: 'Lato';
                  font-size: 18px;
                  font-weight: 700;
                  margin: 0;
                  height: 100%;
                  width: 100%;
                  text-align: center;
                  position: absolute;
                  pointer-events: none;
                  z-index: 100;
                    .titleMusic {
                      background: #fff;
                      padding: 2%;
                    }
                }
                .spotify-container {
                  height: 100%;
                  overflow: hidden;
                  -webkit-box-sizing: border-box;
                  -moz-box-sizing: border-box;
                  box-sizing: border-box;
                    .artist {
                      background-size: cover;
                      background-repeat: no-repeat;
                      background-position: top center;
                      -webkit-filter: grayscale(100%);
                      float: left;
                      position: relative;
                      height: 50%;
                      width: 33.33%;
                        div {
                          width: 100%;
                          opacity: 0;
                          margin-top: 40%;
                          font-size: 20px;
                          font-weight: 900;
                          transition: all .25s;
                          color: black;
                          // color: white;
                        }
                    }
                    .artist:hover {
                      -webkit-filter: grayscale(50%);
                      // opacity: 0.4;
                        div {
                          opacity: 1;
                        }
                    }
                    .transition {
                      transition: all 300ms cubic-bezier(0.25,.46,.45,.94);
                    }
                }
            }
        }
      }
    }
}
  .home {
    color: #16a085;
    position: absolute;
    vertical-align: middle;
    bottom: 4%;
    margin-left: -22px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    line-height: 1em;
  }
  .home:hover {
    text-decoration: underline;
  }

  .overlay1 {
    position: absolute;
    left: 0;
    height: 100%;
    width: 0%;
    transition: width 0.4s;
    z-index: 20;
    background-color: rgba(59, 59, 59, 0.3);
  }
  .overlay2 {
    position: absolute;
    left: 0;
    height: 100%;
    width: 0%;
    transition: width 0.4s;
    z-index: 20;
    background-color: rgba(59, 59, 59, 0.3);

  }







// </about queries>
