#menu-wrap {
  position: fixed;
  z-index: 100;
  // border: 2px solid #1abc9c;
  background-color: rgba(136, 136, 136, 0.4);
  // background-color: rgba(26, 188, 156, .6);
  height: 160px;
  width: 80px;
  right: 0;
  top: 0;
  // color: #1abc9c;
  color: white;
  border-radius: 0em 0em 0em .5em;
  .menu-icon {
    font-size: 50px;
    display: block;
    margin-top: 10px;
    // opacity: 0.6;

  }
  .menu-icon:hover {
    color: #1abc9c;
    cursor: pointer;
  }
}
a {
  text-decoration: none;
}

#bio-title {
  position: relative;
  color: black;
  // font-family: 'PT Sans', sans-serif;
  // color: #1abc9c;
  margin-top: 0px;
  font-size: 80px;
  // color: rgba(136, 136, 136, 0.0375);
  color: rgba(26, 188, 156, 0.1775);



}
i.fa.fa-code:before {
  font-size: 600px;
  position: absolute;
  // left: 540px;
  right: 20px;
  top: -175px;
}

#bio-container {
  margin-top: 7em;
  position: relative;
  color: black;
  width: 50%;
    span {
      font-style: italic;
      color: rgba(26, 188, 156, 1);
      cursor: pointer;

    }

}

#about-wrapper {


  height: 1000px;
  width: 100%;
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;

      #pip {
        position: fixed;
        top: 0;
        left:0;
        width: 100%;
        background-color: white;
      }

      .fa {
        font-size: 50px;
        margin-top: 30px;
      }

      #via {
        padding-bottom: 20px;
      }
      .about-dilb {
        display: inline-block;
      }
      #bigMe {
        height: 514px;
        width: 400px;
        float: left;
        color: white;
        // border: 1px solid black;
      }

      #media {
        // position: absolute;
        // border-bottom: 1px solid rgb(136, 136, 136);
        // width: 67%;
        width: inherit;
        display: table;
        color: #1abc9c;
        float: right;
        top: 0em;


          .media-icon {
            display: table-cell;
            height: 100px;
            width: 180px;
            font-size: 70px;
            cursor: pointer;
          }
      }

      #rotEight {
        // 8tracks icon
        z-index: 10;
        font-size: 60px;
        font-family: 'PT Sans', sans-serif;
        transform: rotate(45deg);
      }


}

#m6 {
  background-color: black;
}
#m5 {
  background-color: rgb(61, 61, 61);
}
#m4 {
  background-color: rgb(115, 115, 115);
}
#m3 {
  background-color: rgb(136, 136, 136);
}
#m2 {
  background-color: rgb(185, 185, 185);
}
#m1 {
  background-color: rgb(245, 245, 245);
}

.left-foot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 37.1%;
  // background-color: rgb(22, 160, 133);
  background-color: rgb(69, 69, 69);
  width: 400px;
    .contact-info {
      text-align: center;
      font-size: 40px;
      #contact-text {
        margin-top: 30px;
        width: 100%;
        text-align: center;
      }
      ul {
        margin-top: 10px;
        float: left;
        margin-left: 20px;
        li {
          margin: 22px;
          font-size: 20px;
          float: left;
          cursor: pointer;

        }
        li:hover {
          color: #1abc9c;
        }
        #contact-email:hover {
          #contact-hover-info-email {
            display: block;
            position: absolute;
            left: 0px;
            border-radius: 1em 1em 1em 1em;
          }
          #psst1 {
            display: block;
          }
        }
        #contact-resume:hover {
          #contact-hover-info-resume {
            display: block;
            position: absolute;
            left: 0px;
            border-radius: 1em 1em 1em 1em;
          }
          #psst2 {
            display: block;
          }
        }
        #contact-phone:hover {
          #contact-hover-info-phone {
            display: block;
            position: absolute;
            left: 0px;
            border-radius: 1em 1em 1em 1em;
          }
          #psst3 {
            display: block;
          }
        }
        #psst1 {
          background-color: white;
        display: block;
        height: 24px;
        position: absolute;
        top: 230px;
        left: 120px;
        transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate(90deg ) skew( -35deg );
        -ms-transform:     rotate(90deg ) skew( -35deg );
        -o-transform:      rotate(90deg ) skew( -35deg );
        -webkit-transform: rotate(90deg ) skew( -35deg );
        width:  20px;
        display: none;
        }
        #psst2 {
          background-color: white;
        display: block;
        height: 24px;
        position: absolute;
        top: 230px;
        left: 185px;
        transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate(45deg ) skew(5deg );
        -ms-transform:     rotate(45deg ) skew(5deg );
        -o-transform:      rotate(45deg ) skew(5deg );
        -webkit-transform: rotate(45deg ) skew(5deg );
        width:  20px;
        display: none;
        }
        #psst3 {
          background-color: white;
        display: block;
        height: 24px;
        position: absolute;
        top: 230px;
        left: 250px;
        transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate(90deg ) skew( 35deg );
        -ms-transform:     rotate(90deg ) skew( 35deg );
        -o-transform:      rotate(90deg ) skew( 35deg );
        -webkit-transform: rotate(90deg ) skew( 35deg );
        width:  20px;
        display: none;
        }
        .contact-hover-info {
          // width: 100%;
          text-align: center;
          color: white;
          font-size: 20px;
          display: none;
          margin-top: 50px;
          margin-left: 100px;
          border: 1px solid white;
          width: inherit;
          padding: 20px;
          color: #1abc9c;
          background-color: white;
        }
      }
    }
}

.right-foot {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 37.1%;
  background-color: white;

}

.footer-items {
  // width: inherit;
  box-sizing: border-box;
  text-align: center;
}
#contact {
  margin-top: .5em;
  color: white;
  font-size: 60px;
  text-align: center;
}

.git-hover {
  color: white;
  background-color: rgb(7, 105, 73) !important;;
}
.in-hover {
  color: white;
  background-color: rgb(0, 119, 181) !important;
}
.tweet-hover {
  color: white;
  background-color: rgb(0, 172, 237) !important;
}
.eightTracks-hover {
  color: white;
  background-color: rgb(253, 237, 53) !important;
}
.insta-hover {
  color: white;
  background-color: rgb(255, 91, 54) !important;
}

.instahover:hover + git-commits {
  display: block;
}
.reverb-hover {
  color: red;
  background-color: rgb(245, 245, 245) !important;
}

.git-commits {
  display: none;
}
.git-show {
  display: block;
}
