#land-wrap {
  background-color: #16a085;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0; }

@media all and (max-width: 93em) {
  #about {
    margin-left: .6em; }

  #work {
    margin-left: .55em; } }
@media all and (max-width: 60em) {
  #about {
    margin-left: -0.6em; }

  #work {
    margin-left: -0.7em; } }
@media all and (max-width: 46.8em) {
  #about {
    margin-left: -1em; }

  #work {
    margin-left: -1.1em; } }
@media all and (max-width: 500px) {
  #about {
    margin-left: -1.8em; }

  #work {
    margin-left: -1.9em; } }
#about {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .15em;
  cursor: pointer !important;
  position: absolute;
  top: 2.2em;
  left: 43.8%;
  width: 140px;
  height: 26px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 3px solid #16a085;
  transition: all 0.25s ease-in; }

#look-at-me {
  position: absolute;
  top: 60px;
  left: 24px;
  font-size: 120px;
  opacity: 0;
  transition: all 0.25s ease-in;
  cursor: pointer; }

#about-wrap:hover #about {
  border: 3px solid white;
  transition: all 0.25s ease-in;
  cursor: pointer; }
#about-wrap:hover #look-at-me {
  opacity: 1;
  position: block;
  transition: all 0.25s ease-in;
  cursor: pointer; }

#Daniel-Pipkin {
  font-family: 'NeutraText-BoldAlt';
  font-size: 46px;
  font-weight: 800;
  cursor: pointer;
  margin: 6px; }

#Front-end {
  font-size: 28px;
  letter-spacing: .15em;
  font-weight: 450;
  font-size: 20px;
  cursor: pointer; }

#work {
  position: absolute;
  bottom: 2.2em;
  left: 43.8%;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .15em;
  cursor: pointer;
  width: 140px;
  height: 26px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 3px solid #16a085;
  transition: all 0.25s ease-in;
  cursor: pointer; }

#work-icon {
  opacity: 0;
  transition: all 0.25s ease-in;
  font-size: 110px !important;
  position: absolute;
  bottom: .5em;
  left: 16px;
  cursor: pointer; }

#work:hover {
  border: 3px solid white;
  transition: all 0.25s ease-in; }
  #work:hover #work-icon {
    opacity: 1;
    position: block;
    transition: all 0.25s ease-in;
    opacity: 1; }

#credentials .media-icon-land {
  display: inline-block; }
  #credentials .media-icon-land .land-icon-header {
    display: none;
    color: black;
    font-weight: bolder;
    font-size: 18px;
    font-weight: lighter;
    font-family: 'Passion One', cursive;
    margin-bottom: -3px; }
#credentials #land-icon-group {
  margin-left: 48px; }
  #credentials #land-icon-group img {
    height: 100px;
    width: 260px; }
#credentials #land-icon-html {
  height: 50px;
  width: 50px;
  opacity: 0.6; }
  #credentials #land-icon-html img {
    position: absolute;
    height: inherit;
    width: inherit; }
#credentials #land-icon-css {
  height: 80px;
  width: 50px;
  opacity: 0.6; }
  #credentials #land-icon-css img {
    position: absolute;
    height: inherit;
    width: inherit;
    margin-top: 15px; }
#credentials #land-icon-js {
  height: 54px;
  width: 45px;
  opacity: 0.6; }
  #credentials #land-icon-js img {
    position: absolute;
    height: inherit;
    width: inherit; }
#credentials #land-icon-ng {
  height: 60px;
  width: 50px;
  opacity: 0.6; }
  #credentials #land-icon-ng img {
    position: absolute;
    height: inherit;
    width: inherit; }

.front-and-center {
  display: block;
  margin-top: 21.5em; }
  .front-and-center .credentials-wrap {
    height: 0px;
    opacity: 0;
    margin-left: -50px;
    transition: opacity .1s ease-in; }
  .front-and-center span {
    width: 600px; }
  .front-and-center #Daniel-Pipkin {
    transition: all 0.5s ease-in; }
  .front-and-center #Front-end {
    transition: all 0.5s ease-in; }
  .front-and-center span:hover #Daniel-Pipkin {
    margin-top: -50px;
    transition: all 0.5s ease-in;
    z-index: 100; }
  .front-and-center span:hover #Front-end {
    transition-delay: all 5s;
    margin-top: 110px;
    transition: all 0.5s ease-in;
    z-index: 100; }
  .front-and-center span:hover .credentials-wrap {
    display: block;
    transition: all 0.5s ease;
    transition-delay: 0.5s;
    height: 0px;
    opacity: 1; }

/*# sourceMappingURL=land.css.map */
