$bp-small : 500px;
$bp-med : 46.8em;
$bp-large : 60em;
$bp-xl : 93em;

.welcome {
  height: 1vh;
  width: 20px;
  border-radius: 10em;
  background-color: white;
}


// <land queries>
#land-wrap {
  background-color: rgba(22, 160, 133, 1);
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

@media all and (max-width: $bp-xl) {
      #about {
        margin-left: .6em;
        // color: red;
      }
      #work {
        margin-left: .55em;
      }
}
@media all and (max-width: $bp-large) {
      #about {
        margin-left: -0.6em;
        // color: blue;
      }
      #work {
        margin-left: -0.7em;
      }
}
@media all and (max-width: $bp-med) {
      #about {
        margin-left: -1em;
        // color: green;
      }
      #work {
        margin-left: -1.1em;
      }
}
@media all and (max-width: $bp-small) {
      #about {
        margin-left: -1.8em;
        // color: black;
      }
      #work {
        margin-left: -1.9em;
      }
}


// </land queries>


#about {

    font-size: 20px;
    font-weight: 700;
    letter-spacing: .15em;
    cursor: pointer !important;
    position: absolute;
    top: 2.2em;
    left: 43.8%;
    width: 140px;
    height: 26px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 3px solid rgba(22, 160, 133, 1);
;
    transition: all 0.25s ease-in;

}
#look-at-me {
  position: absolute;
  top: 60px;
  left: 24px;
  font-size: 120px;
  opacity: 0;
  transition: all 0.25s ease-in;
  cursor: pointer;
}

#about-wrap:hover {
  #about {
    border: 3px solid white;
    transition: all 0.25s ease-in;
    cursor: pointer;

  }
  #look-at-me {
    opacity: 1;
    position: block;
    transition: all 0.25s ease-in;
    cursor: pointer;
  }
}


#Daniel-Pipkin {
    // font-family: 'Lato', sans-serif;
    font-family: 'NeutraText-BoldAlt';
    font-size: 46px;
    font-weight: 800;
    cursor: pointer;
    margin: 6px;
}

#Front-end {
    font-size: 28px;
    letter-spacing: .15em;
    font-weight: 450;
    font-size: 20px;
    cursor: pointer;
}


#work {
    position: absolute;
    bottom: 2.2em;
    left: 43.8%;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .15em;
    cursor: pointer;
    width: 140px;
    height: 26px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 3px solid rgba(22, 160, 133, 1);
;
    transition: all 0.25s ease-in;
    cursor: pointer;

}
#work-icon {
    opacity: 0;
    transition: all 0.25s ease-in;
    font-size: 110px !important;
    position: absolute;
    bottom: .5em;
    left: 16px;
    cursor: pointer;

}
#work:hover {

    border: 3px solid white;
    transition: all 0.25s ease-in;

  #work-icon {
    opacity: 1;
    position: block;
    transition: all 0.25s ease-in;
    opacity: 1;


  }
}
#credentials {
  // margin-left: -60px;
.media-icon-land {
  display: inline-block;
  // margin: 20px;
  .land-icon-header {
    display: none;
    color: black;
    font-weight: bolder;
    font-size: 18px;
    font-weight: lighter;
    font-family: 'Passion One', cursive;
    margin-bottom: -3px;
    // margin-top: -20px;
  }
}
#land-icon-group {
  margin-left: 48px;
  img {
    height: 100px;
    width: 260px;
  }
}
#land-icon-html {
  // margin-top: 27px;
  height: 50px;
  width: 50px;
  opacity: 0.6;
  img {
    position: absolute;
    height: inherit;
    width: inherit;
  }
}
#land-icon-css {
  height: 80px;
  width: 50px;
  opacity: 0.6;
  img {
    position: absolute;
    height: inherit;
    width: inherit;
    margin-top: 15px;
  }
}
#land-icon-js {
  height: 54px;
  width: 45px;
  opacity: 0.6;
  // position: absolute;
  // margin-top: 27px;
  // margin-left: 50px;
  img {
    position: absolute;
    height: inherit;
    width: inherit;
  }
}
#land-icon-ng {
  height: 60px;
  width: 50px;
  opacity: 0.6;
  // position: absolute;
  // margin-top: 27px;
  // margin-left: 50px;
  img {
    position: absolute;
    height: inherit;
    width: inherit;
  }
}

}

.front-and-center {
    display: block;
    margin-top: 21.5em;
      .credentials-wrap {
        height: 0px;
        opacity: 0;
        margin-left: -50px;
        transition: opacity .1s ease-in;
      }
      span {
        width: 600px;
      }
      #Daniel-Pipkin {
        transition: all 0.5s ease-in;
      }
      #Front-end {
        transition: all 0.5s ease-in;
      }

      span:hover {

        #Daniel-Pipkin {
          margin-top: -50px;
          transition: all 0.5s ease-in;
          z-index: 100;

        }
        #Front-end {
          transition-delay: all 5s;
          margin-top: 110px;
          transition: all 0.5s ease-in;
          z-index: 100;


        }
        .credentials-wrap {
          display: block;
          transition: all 0.5s ease;
          transition-delay: 0.5s;
          height: 0px;
          opacity: 1;

        }

      }
}
