

@import "work";
@import "about";
@import "land";

$bp-small : 24em;
$bp-med : 46.8em;
$bp-large : 50em;
$bp-xl : 73em;

html, body {
    height: 100%;
    background: rgba(26, 188, 156, 1);
    color: white;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  opacity: .9;
  background-color: white;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 358px;
  left: 48.7%;
  z-index: 600;
}
