

@import "work";
@import "about";
@import "land";

$bp-small : 24em;
$bp-med : 46.8em;
$bp-large : 50em;
$bp-xl : 73em;


html, body, .ng-scope {
  width: 100%;
  height: 100%;
  min-height: 100%;
  color: white;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  overflow: auto;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  background-color: white;
  z-index: 99;
  text-align: center;
  #loading-image {
    position: absolute;
    top: 358px;
    left: 47.7%;
    z-index: 600;
  }
}
