#work-wrap {
  height: 1000px;
  width: 100%;
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  color: #1abc9c; }
  #work-wrap #back-home {
    position: fixed;
    left: 0;
    top: 90px;
    width: 50px;
    height: 100px;
    border: 1px solid #1abc9c; }
    #work-wrap #back-home ul {
      margin-left: -40px; }
  #work-wrap #work-title {
    font-size: 25px;
    margin-top: 2em; }
  #work-wrap #trindy-work {
    position: absolute;
    width: 335px;
    height: 600px;
    left: 110px;
    top: 90px; }
  #work-wrap .hide {
    display: none; }
  #work-wrap .trindy-hover {
    background-color: rgba(33, 37, 33, 0.95);
    color: white;
    text-align: center;
    font-size: 30px;
    height: 600px;
    width: 335px;
    position: absolute;
    left: 110px;
    top: 90px;
    border: 1px solid none;
    z-index: 60; }
  #work-wrap .future-works-wrap {
    margin-top: 7px;
    margin-right: 60px;
    float: right; }
    #work-wrap .future-works-wrap .future-works {
      height: 280px;
      width: 400px;
      border: 1px solid black;
      list-style: none;
      margin: 35px; }

#menu-wrap {
  position: fixed;
  z-index: 100;
  background-color: rgba(136, 136, 136, 0.4);
  height: 160px;
  width: 80px;
  right: 0;
  top: 0;
  color: white;
  border-radius: 0em 0em 0em .5em; }
  #menu-wrap .menu-icon {
    font-size: 50px;
    display: block;
    margin-top: 10px; }
  #menu-wrap .menu-icon:hover {
    color: #1abc9c;
    cursor: pointer; }

a {
  text-decoration: none; }

#bio-title {
  color: black;
  font-size: 80px;
  margin-bottom: 50px;
  color: rgba(26, 188, 156, 0.2775); }

i.fa.fa-code:before {
  font-size: 600px;
  position: absolute;
  right: 20px;
  top: -175px; }

#bio-container {
  margin-top: 4.5em;
  position: relative;
  color: black;
  width: 550px;
  float: right;
  margin-right: 14%; }
  #bio-container span {
    font-style: italic;
    font-size: 40px;
    color: rgba(26, 188, 156, 0.4775);
    margin-left: -10px; }

#about-wrapper {
  height: 1000px;
  width: 100%;
  background-color: white;
  position: absolute;
  left: 0;
  top: 0; }
  #about-wrapper #pip {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white; }
  #about-wrapper .fa {
    font-size: 50px;
    margin-top: 30px; }
  #about-wrapper #via {
    padding-bottom: 20px; }
  #about-wrapper .about-dilb {
    display: inline-block; }
  #about-wrapper #bigMe {
    height: 514px;
    width: 400px !important;
    float: left;
    color: white;
    margin-left: 0; }
    #about-wrapper #bigMe img {
      width: inherit;
      height: inherit; }
  #about-wrapper #media {
    width: inherit;
    display: table;
    color: #1abc9c;
    float: right;
    top: 0em; }
    #about-wrapper #media .media-icon {
      display: table-cell;
      height: 100px;
      width: 200px;
      font-size: 70px;
      cursor: pointer; }
  #about-wrapper #rotEight {
    z-index: 10;
    font-size: 70px;
    font-family: 'PT Sans', sans-serif;
    transform: rotate(45deg); }

#m6 {
  background-color: black; }

#m5 {
  background-color: #3d3d3d; }

#m4 {
  background-color: #737373; }

#m3 {
  background-color: #888888; }

#m2 {
  background-color: #b9b9b9; }

#m1 {
  background-color: whitesmoke; }

.left-foot {
  height: 24em;
  float: left;
  background-color: #454545;
  width: 400px; }
  .left-foot .contact-info {
    text-align: center;
    font-size: 40px;
    width: 100%; }
    .left-foot .contact-info #contact-text {
      margin-top: 30px; }
    .left-foot .contact-info #contact {
      width: inherit;
      display: table;
      color: white;
      float: right;
      top: 0em; }
      .left-foot .contact-info #contact .contact-icon {
        display: table-cell;
        height: 100px;
        width: 200px;
        font-size: 70px;
        cursor: pointer; }
      .left-foot .contact-info #contact i:hover {
        color: #1abc9c; }
      .left-foot .contact-info #contact #contact-email:hover #contact-hover-info-email {
        display: block;
        position: absolute;
        left: 0px;
        border-radius: 1em 1em 1em 1em; }
      .left-foot .contact-info #contact #contact-email:hover #psst1 {
        display: block; }
      .left-foot .contact-info #contact #contact-resume:hover #contact-hover-info-resume {
        display: block;
        position: absolute;
        left: 0px;
        border-radius: 1em 1em 1em 1em; }
      .left-foot .contact-info #contact #contact-resume:hover #psst2 {
        display: block; }
      .left-foot .contact-info #contact #contact-phone:hover #contact-hover-info-phone {
        display: block;
        position: absolute;
        left: 0px;
        border-radius: 1em 1em 1em 1em; }
      .left-foot .contact-info #contact #contact-phone:hover #psst3 {
        display: block; }
      .left-foot .contact-info #contact #psst1 {
        background-color: white;
        display: block;
        height: 24px;
        position: absolute;
        top: 220px;
        left: 120px;
        transform: rotate(29deg) skew(-35deg);
        -moz-transform: rotate(90deg) skew(-35deg);
        -ms-transform: rotate(90deg) skew(-35deg);
        -o-transform: rotate(90deg) skew(-35deg);
        -webkit-transform: rotate(90deg) skew(-35deg);
        width: 20px;
        display: none; }
      .left-foot .contact-info #contact #psst2 {
        background-color: white;
        display: block;
        height: 24px;
        position: absolute;
        top: 220px;
        left: 185px;
        transform: rotate(29deg) skew(-35deg);
        -moz-transform: rotate(45deg) skew(5deg);
        -ms-transform: rotate(45deg) skew(5deg);
        -o-transform: rotate(45deg) skew(5deg);
        -webkit-transform: rotate(45deg) skew(5deg);
        width: 20px;
        display: none; }
      .left-foot .contact-info #contact #psst3 {
        background-color: white;
        display: block;
        height: 24px;
        position: absolute;
        top: 220px;
        left: 250px;
        transform: rotate(29deg) skew(-35deg);
        -moz-transform: rotate(90deg) skew(35deg);
        -ms-transform: rotate(90deg) skew(35deg);
        -o-transform: rotate(90deg) skew(35deg);
        -webkit-transform: rotate(90deg) skew(35deg);
        width: 20px;
        display: none; }
      .left-foot .contact-info #contact .contact-hover-info {
        text-align: center;
        color: white;
        font-size: 20px;
        display: none;
        margin-top: 50px;
        margin-left: 100px;
        border: 1px solid white;
        width: inherit;
        padding: 20px;
        color: #1abc9c;
        background-color: white; }

.about-feet {
  display: inline-block; }

.right-foot {
  height: 383px;
  background-color: white;
  float: right;
  width: 460px; }
  .right-foot #contact-form-wrap {
    width: 468px;
    float: right;
    margin-right: 10%;
    margin-top: 0px;
    background-color: white;
    height: 100%; }
    .right-foot #contact-form-wrap #contact-form-title {
      color: #444444;
      margin-top: 30px;
      width: 100%;
      font-size: 40px;
      font-family: 'Lato', sans-serif;
      text-align: center; }
    .right-foot #contact-form-wrap #about-name {
      outline: none;
      border: 2px solid #3d3d3d;
      border-radius: .5em;
      width: 19em;
      height: 3.6em; }
    .right-foot #contact-form-wrap #about-email {
      outline: none;
      border: 2px solid #3d3d3d;
      border-radius: .5em;
      width: 19em;
      height: 3.6em;
      margin-left: 1.6em; }
    .right-foot #contact-form-wrap #about-text-body {
      outline: none;
      border: 2px solid #3d3d3d;
      border-radius: .5em;
      width: 40em;
      height: 6em;
      float: left; }
    .right-foot #contact-form-wrap .about-contact-db {
      display: inline-block;
      float: left;
      margin-top: 5em;
      margin-bottom: 3em; }
    .right-foot #contact-form-wrap #contact-form-send {
      color: #3d3d3d;
      text-align: center;
      float: right;
      margin-right: 20px;
      margin-top: 20px;
      border: 2px solid #3d3d3d;
      width: 60px;
      height: 40px;
      border-radius: .8em;
      cursor: pointer; }
      .right-foot #contact-form-wrap #contact-form-send i {
        transform: rotate(20deg);
        transform: rotateX(20deg);
        font-size: 30px;
        margin-top: 5px;
        margin-right: 2.5px;
        transition: all 0.25s ease-in; }
    .right-foot #contact-form-wrap #contact-form-send:hover {
      color: #1abc9c;
      border-color: #1abc9c; }
      .right-foot #contact-form-wrap #contact-form-send:hover i {
        color: #1abc9c;
        transform: rotate(40deg);
        font-size: 30px;
        margin-top: 5px;
        margin-right: 2.5px;
        transition: all 0.25s ease-in; }
    .right-foot #contact-form-wrap #contact-form-send:active {
      color: #1abc9c;
      opacity: 0.7; }
      .right-foot #contact-form-wrap #contact-form-send:active i {
        color: #1abc9c;
        transform: rotate(40deg);
        font-size: 30px;
        margin-top: 5px;
        margin-right: 2.5px;
        transition: all 0.25s ease-in; }

.about-feet {
  width: calc(100% / 2); }

#about-footer {
  width: 100%; }

.footer-items {
  box-sizing: border-box;
  text-align: center; }

#contact {
  margin-top: .5em;
  color: white;
  font-size: 60px;
  text-align: center; }

.git-hover {
  color: white;
  background-color: #076949 !important; }

.in-hover {
  color: white;
  background-color: #0077b5 !important; }

.tweet-hover {
  color: white;
  background-color: #00aced !important; }

.eightTracks-hover {
  color: white;
  background-color: #fded35 !important; }

.insta-hover {
  color: white;
  background-color: #ff5b36 !important; }

.instahover:hover + git-commits {
  display: block; }

.reverb-hover {
  color: whitesmoke;
  background-color: #d91e18 !important; }

.git-commits {
  display: none; }

.git-show {
  display: block; }

@media all and (max-width: 93em) {
  #contact-form-wrap {
    right: 8%; }

  .right-foot #contact-form-wrap {
    margin-right: 15%; } }
@media all and (max-width: 80em) {
  .right-foot #contact-form-wrap {
    margin-right: 8%; } }
@media all and (max-width: 70em) {
  #bio-container {
    margin-right: 8%; }

  .right-foot #contact-form-wrap {
    margin-right: 5%; } }
@media all and (max-width: 80em) {
  #bio-container {
    left: 525px;
    position: absolute;
    width: 40%; } }
@media all and (max-width: 65em) {
  .right-foot #contact-form-wrap {
    margin-right: 5px;
    padding-left: 20px;
    float: left;
    margin-left: 10px; }

  .right-foot #contact-form-wrap {
    width: 80%; }
    .right-foot #contact-form-wrap #about-name {
      width: 100%; }
    .right-foot #contact-form-wrap #about-email {
      width: 100%;
      margin-left: 0em; }
    .right-foot #contact-form-wrap #about-text-body {
      width: 99.5%;
      margin-top: 2em; }
    .right-foot #contact-form-wrap .about-contact-db {
      display: inline-block;
      float: left;
      margin-top: 2em;
      margin-bottom: 0em; }
    .right-foot #contact-form-wrap #contact-form-send {
      margin-right: -8px; } }
@media all and (max-width: 56em) {
  #bio-container {
    left: 440px;
    position: absolute;
    width: 40%; } }
@media all and (max-width: 46.8em) {
  #bio-container {
    left: 420px;
    position: absolute;
    width: 30%;
    margin-top: 14em; }
    #bio-container span {
      font-size: 20px;
      display: none; }

  #bio-title {
    display: none;
    margin-top: -50px; } }
@media all and (max-width: 400px) {
  #bio-container {
    position: relative;
    width: 350px;
    left: 0em;
    font-size: 20px;
    margin-top: 2.5em; }
    #bio-container span {
      font-style: italic;
      font-size: 30px;
      color: rgba(26, 188, 156, 0.4775);
      margin-left: -10px; }

  #bio-title {
    display: none;
    font-size: 30px;
    margin-top: -40px; }

  #media {
    width: inherit;
    color: #1abc9c;
    float: right;
    top: 0em; }
    #media .media-icon {
      display: block;
      height: 100px;
      width: 200px;
      font-size: 70px;
      cursor: pointer;
      float: left; }

  .left-foot {
    background-color: white;
    color: #454545; }

  .right-foot {
    float: left;
    position: relative;
    bottom: 30px;
    left: 0px;
    width: 400px;
    height: 500px;
    background-color: #454545; }
    .right-foot #contact-form-wrap #contact-form-title {
      color: white; }
    .right-foot #contact-form-wrap #about-name {
      width: 80%;
      margin-left: 10%; }
    .right-foot #contact-form-wrap #about-email {
      width: 80%;
      margin-left: 10%;
      margin-top: 10px; }
    .right-foot #contact-form-wrap #about-text-body {
      width: 80%;
      margin-left: 10%;
      margin-top: 10px; }
    .right-foot #contact-form-wrap #contact-form-send {
      margin-right: 32px;
      margin-top: 30px;
      color: white;
      border-color: white; }

  .about-feet {
    width: 400px; }

  .left-foot .contact-info #contact {
    color: #1abc9c; }

  .left-foot .contact-info #contact .contact-hover-info {
    border: 2px solid #1abc9c; }

  .right-foot #contact-form-wrap {
    margin-left: 0px;
    width: 100%;
    background-color: #454545;
    padding-left: 0px; } }
#land-wrap {
  background-color: #1abc9c;
  overflow-x: hidden; }

@media all and (max-width: 93em) {
  #about {
    margin-left: .6em; }

  #work {
    margin-left: .55em; } }
@media all and (max-width: 60em) {
  #about {
    margin-left: -0.6em; }

  #work {
    margin-left: -0.7em; } }
@media all and (max-width: 46.8em) {
  #about {
    margin-left: -1em; }

  #work {
    margin-left: -1.1em; } }
@media all and (max-width: 500px) {
  #about {
    margin-left: -1.8em; }

  #work {
    margin-left: -1.9em; } }
#about {
  font-size: 20px;
  letter-spacing: .15em;
  cursor: pointer;
  position: absolute;
  top: 2.2em;
  left: 43.8%;
  width: 140px;
  height: 26px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 3px solid #1ABC9C;
  transition: all 0.25s ease-in; }

#look-at-me {
  position: absolute;
  top: 60px;
  left: 24px;
  font-size: 120px;
  opacity: 0;
  transition: all 0.25s ease-in; }

#about-wrap:hover #about {
  border: 3px solid white;
  transition: all 0.25s ease-in; }
#about-wrap:hover #look-at-me {
  opacity: 1;
  position: block;
  transition: all 0.25s ease-in; }

#Daniel-Pipkin {
  font-family: 'Lato', sans-serif;
  font-size: 46px;
  font-weight: 800;
  cursor: pointer;
  margin: 6px; }

#Front-end {
  font-size: 28px;
  letter-spacing: .15em;
  font-weight: 450;
  font-size: 20px;
  cursor: pointer; }

#work {
  position: absolute;
  bottom: 2.2em;
  left: 43.8%;
  font-size: 20px;
  letter-spacing: .15em;
  cursor: pointer;
  width: 140px;
  height: 26px;
  padding-top: 3px;
  border: 3px solid #1ABC9C;
  transition: all 0.25s ease-in; }

#work-icon {
  opacity: 0;
  transition: all 0.25s ease-in;
  font-size: 110px !important;
  position: absolute;
  bottom: .5em;
  left: 16px; }

#work:hover {
  border: 3px solid white;
  transition: all 0.25s ease-in; }
  #work:hover #work-icon {
    opacity: 1;
    position: block;
    transition: all 0.25s ease-in; }

.media-icon-land {
  display: inline-block; }
  .media-icon-land #angular-icon-header {
    color: black;
    font-weight: bolder;
    font-size: 18px;
    font-weight: lighter;
    font-family: 'Passion One', cursive;
    margin-bottom: -3px;
    margin-top: -20px; }

#land-icon-ng {
  position: absolute;
  margin-top: 27px;
  margin-left: 50px; }

#land-icon-sass {
  position: absolute;
  margin-top: 27px; }

#credentials {
  margin-left: -60px; }

.front-and-center {
  display: block;
  margin-top: 21.5em; }
  .front-and-center .credentials-wrap {
    height: 0px;
    opacity: 0;
    margin-left: -50px;
    transition: opacity .1s ease-in; }
  .front-and-center span {
    width: 600px; }
  .front-and-center #Daniel-Pipkin {
    transition: all 0.5s ease-in; }
  .front-and-center #Front-end {
    transition: all 0.5s ease-in; }
  .front-and-center span:hover #Daniel-Pipkin {
    margin-top: -50px;
    transition: all 0.5s ease-in;
    z-index: 100; }
  .front-and-center span:hover #Front-end {
    transition-delay: all 5s;
    margin-top: 110px;
    transition: all 0.5s ease-in;
    z-index: 100; }
  .front-and-center span:hover .credentials-wrap {
    display: block;
    transition: all 0.5s ease;
    transition-delay: 0.5s;
    height: 0px;
    opacity: 1; }

html, body {
  height: 100%;
  background: #1abc9c;
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;
  overflow-x: hidden; }

ul {
  list-style: none; }

a {
  color: inherit;
  text-decoration: inherit; }

#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  opacity: .9;
  background-color: white;
  z-index: 99;
  text-align: center; }

#loading-image {
  position: absolute;
  top: 358px;
  left: 48.7%;
  z-index: 600; }

/*# sourceMappingURL=style.css.map */
