

@import "work";
@import "about";


html, body {
    height: 100%;
    background: rgba(26, 188, 156, 1);
    color: white;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  opacity: .9;
  background-color: white;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 358px;
  left: 48.7%;
  z-index: 600;
}


#about {

    font-size: 20px;
    letter-spacing: .15em;
    cursor: pointer;
    position: absolute;
    top: 2.2em;
    left: 43.8%;
    width: 140px;
    height: 26px;
    padding-top: 3px;
    border: 3px solid rgba(26, 188, 156, 1);

}

.hover-top-and-bottom {
  border: 2px solid white;

}

.front-and-center {
    display: block;
    margin-top: 21.5em;
}

#Daniel-Pipkin {
    font-family: 'Lato', sans-serif;
    font-size: 46px;
    font-weight: 800;
    cursor: pointer;
    margin: 6px;
}

#Front-end {
    font-size: 28px;
    letter-spacing: .15em;
    font-weight: 450;
    font-size: 20px;
    cursor: pointer;
}

.work-icon {
  display: none;
}

.fa-briefcase {
  font-size: 160px !important;
  position: absolute;
  bottom: .6em;
  left: 43%;
  display: none;
}


#work {
    position: absolute;
    bottom: 2.2em;
    left: 43.8%;
    font-size: 20px;
    letter-spacing: .15em;
    cursor: pointer;
    width: 140px;
    height: 26px;
    padding-top: 3px;
    border: 3px solid rgba(26, 188, 156, 1);

}
