.container-work {
  height: 75%;
  overflow: hidden;
    #project-title {
      width: 100%;
      height: 20%;
      background-color: black;
    }
    .w50 {
      float: left;
      width: 40%;
      height: 100%;
      background-color: rgb(40, 44, 52);
    #title-container {
      height: 33.333%;
      width: 100%;
      background-color: red;
      opacity: 0.5;
      // background-size: cover;
      // background: url(/assets/images/lucky_strike_ATC.jpg) no-repeat center;
      background-size: 100% 200%;
    }
    #project-description {
      width: 100%;
      height: 66.666%;
      background-color: green;
      opacity: 0.5;
    }
  }
  #project-view-container {
    height: 66.666%;
    width: 100%;
    background-color: blue;
    opacity: 0.5;
    // background-size: cover;
    // background: url(/assets/images/lucky_strike_ATC.jpg) no-repeat center;
    background-size: 100% 200%;
  }
  #tools-container {
    height: 33.333%;
    width: 100%;
    background-color: yellow;
    opacity: 0.5;
    // background-size: cover;
    // background: url(/assets/images/lucky_strike_ATC.jpg) no-repeat center;
    background-size: 100% 200%;
  }
    #right {
      height: 100%;
      width: 20%;
      background-color: rgb(40, 44, 52);

        .work-logo {
          width: 100%;
          height: calc(100% / 3) !important;
          display: block;
          float: left;
          font-size: 40px;

        }
          #purposeux {
            background-color: #ECF0F1;
            transition: all 0.25s ease-in;
            cursor: pointer;
            div {
              margin-top: 25%;
              img {
            }
          }
        }
          #purposeux:hover {
            background-size: cover;
            background: url(/assets/images/lucky_strike_ATC.jpg) no-repeat center;
            background-size: 100% 100%;
            transition: all 0.25s ease-in;


                    }

          #trind {
            font-family: 'Sniglet', cursive;
            font-weight: bolder;
            background-color: #95A5A6;
            text-decoration: underline;
            transition: all 1s ease-in;
            cursor: pointer;

            div {
              margin-top: 30%;
            }
          }
          #trind:hover {
            background-size: cover;
            background: url(/assets/images/trind-brian.png) no-repeat center;
            background-size: 100% 260%;
            transition: all 0.25s ease-in;


                    }
          #moffettcraft {
            font-family: 'NeutraText-BoldAlt';
            font-weight: bolder;
            font-size: 80px;
            color: rgb(31, 58, 147);
            background-color: #6C7A89;
            transition: all 0.25s ease-in;
            cursor: pointer;

            div {
              margin-top: 25%;
          }
        }
        #moffettcraft:hover {
          background-size: cover;
          background: url(/assets/images/boat.jpg) no-repeat center;
          background-size: 100% 100%;
          transition: all 0.25s ease-in;


                  }
    }
}
