#work-wrap {
  height: 1000px;
  width: 100%;
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  color: rgba(26, 188, 156, 1);

  #back-home {
    position: fixed;
    left: 0;
    top: 90px;
    width: 50px;
    height: 100px;
    border: 1px solid rgba(26, 188, 156, 1);

      ul {
        margin-left: -40px;
      }
  }

    #work-title {
      font-size: 25px;
      margin-top: 2em;
    }
    #trindy-work {
      position: absolute;
      left: 110px;
      top: 90px;
    }
    .future-works-wrap {
      margin-top: 7px;
      margin-right: 60px;
      float: right;

        .future-works {
          height: 280px;
          width: 400px;
          border: 1px solid black;
          list-style: none;
          margin: 35px;
        }
    }

}
